.title {
  font-weight: bold;
}

div.search {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
}

div.search input[type='text'] {
  flex: 1;
  background-color: aliceblue;
}

button.search {
  padding: 0.4rem 0.8rem;
  margin-top: 0.5rem;
}
