#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.title {
  font-weight: bold;
}

.details {
  margin-top: 0.1rem;
  font-size: small;
}

div.search {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
}

div.search input[type='text'] {
  flex: 1;
  background-color: aliceblue;
}

button.search {
  padding: 0.4rem;
  margin-top: 0.5rem;
}
