#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.title {
  font-weight: bold;
}

.details {
  font-size: small;
}

.card {
  width: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

input[type='text'].search {
  margin-top: 1rem;
  width: 100%;
  display: block;
  background-color: aliceblue;
}

button.search {
  margin-top: 1rem;
}
